# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
logs/

# Tests
tests/

# Docs
docs/
*.md
